{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The V store</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- javascript--- -->
    <script src="{% static 'javascript/resize_control.js' %}"> </script>
    <script src="{% static 'javascript/scroll_control.js' %}"> </script>
    <script>
        ///renaming functions
        function get_el(el){
            return document.getElementById(el)
        }
        ///animation control
        function final_state(el){
            get_el(el).classList.remove('initial_state')
        }
        function initial_state(el){
            get_el(el).classList.add('initial_state')
        }
    </script>

</head>

<body>

    {% include 'base/header_and_search.html' %}
    {% include 'base/menu.html' %}
    {% include 'base/menu_filter.html' %}
    <div id="scroll">V</div>

    {% block page %}

    {% endblock %}
    
</body>

</html>






