{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The V store</title>
    <!--statics-->

    <link rel="stylesheet" href="{% static 'header_style.css' %}">
    <link rel="stylesheet" href="{% static 'header_logo_style.css' %}">
    <link rel="stylesheet" href="{% static 'header_search_style.css' %}">
    <link rel="stylesheet" href="{% static 'scroll.css' %}">
    <link rel="stylesheet" href="{% static 'menus.css' %}">
    <link rel="stylesheet" href="{% static 'header_hamb_style.css' %}">
    <link rel="stylesheet" href="{% static 'section_style.css' %}">

    
</head>

<body>
       {% include 'base/header.html' %}

    <div id="scroll">
        V
    </div>
    

    <!----MENUS-->
        {% include 'base/translucid_scr.html' %}
        {% include 'base/menu1.html' %}
        {% include 'base/menu2.html' %}

    


    {% block page %}

    {% endblock %}

    
</body>
    <!---javascript_front_end-->
    <script src="{% static 'javascript/control_of_search_and_scroll.js' %}"></script>

</html>






