{% load static %}

<header>
    <a id="logo" href="/">
        <img src="{% static 'imgs/logo.svg' %}">
    </a>


    <form action="/filter" name="query_form">
        <input type="hidden" name="query" id="query_input_form">
        <input type="hidden" name="query_only" value="True">
    </form>

    <script>
        
        function query_with_search_bar(event){
            if(event.keyCode==13||event.clientX!=undefined){ //detect enter key to submit the form
                document.getElementById('query_input_form').value = document.getElementById('seach_input').value
                document.query_form.submit()
            }
        }
        function search_events(what_event){

            if(what_event=='focus'){
                document.getElementById('search').block_scroll_control = true;
                document.getElementById('transluc_scr_for_search').style.display = 'flex'

                ///requesting fullscreen in mobile
                if(window.matchMedia( "(hover: none)" ).matches)
                    document.getElementsByTagName('body')[0].requestFullscreen()
            }

            if(what_event=='blur'){
                document.getElementById('search').block_scroll_control = false
                //exiting fullscreen in mobile
                if(window.matchMedia( "(hover: none)" ).matches)
                    document.exitFullscreen()
            }

        }


    </script>
    <!---search-->
    <div id="search" class='my_menu'>
        <input type="text" name="query" onkeydown="query_with_search_bar(event)" id="seach_input" onfocus="search_events('focus')" onblur="search_events('blur')">
        <img src="{% static 'imgs/search_btn2.svg' %}" id="bar_btn" onclick="query_with_search_bar(event)">

    </div>

    <div id="user_btns" class='my_menu'>
        
    </div>

    <div id="hamb" onclick="onclick_event_animation_control('menu2',true, true, '1s',false,true)">
        <img src="{% static 'imgs/hamb.svg' %}">
    </div>

    <img src="{% static 'imgs/search_btn.svg' %}" alt="" id='mobile_search' onclick="onclick_event_animation_control('search',true, false, '1s',true,true)">

</header> 