{% load static %}

<div id="menu_screen">
    <div id="screen_to_onclick_event" onclick="show_hide_anim({menu_screen:'fade_out', menu:'moving_out'})"></div>
    <div id="menu">
        <img src="{% static 'imgs/close_btn.svg' %}" id="menu_close_btn" 
        onclick="show_hide_anim(
            {menu_screen:'fade_out', menu:'moving_out'})">
        <div id="menu_items">
            <a href="">Visit my Website</a>
            <a href="">Visit my github</a>
            <a href="">Contact me</a>
        </div>
    </div>
</div>