{% load static %}

<script>
    function error_msg_close(){
        const error_msg = document.getElementById('error_msg_box')
        error_msg.style.display = "none"
    }
</script>


<form action="/filter" id="menu" class="default_menu" onclick="error_msg_close()">
    <img src="{% static 'imgs/close_btn2.svg' %}"  class="menu_close_btn" onclick="onclick_event_animation_control('menu',true, true, '1s',false,true)">

    <label for="filter_for"> Filter for: </label>

        <select name="filter_for">
            <option value="better ratings" selected="selected"> 
                Better ratings 
            </option>

            <option value="lower price">
                Lower price 
            </option>

            <option value="higher price">
                Higher price 
            </option>
           
        </select>
        
    <label for="brand"> Brand: </label>

        <select name="brand">
            <option value="all" selected="selected">All</option>
            {% for brand in brand_list %}
            <option value="{{brand}}">{{brand}}</option>
            {% endfor %}
        </select>

    <label for="minimum_price">Price min</label>
        <input type="number" name="minimum_price">
    
    <label for="maximum_price">Price max</label>
        <input type="number" name="maximum_price">  

        <!---Hidden data-->
    <input type="hidden" name="query" value="{{query}}">
    <input type="hidden" name="query_only" value="">
    <!-------------->

    <input type="submit" value="Filter" id="submit_btn">


    <div id="error_msg_box"> <div id="error_msg"></div>  <img src="{% static 'imgs/close_btn.svg' %}" onclick="error_msg_close()">  </div>
    

</form>

<!----Form Validation---->
<script>

        document.getElementById('menu').addEventListener('submit',function(e){
            const h_price = this.elements['maximum_price'].value
            const l_price = this.elements['minimum_price'].value
            if(l_price>h_price){
                
                e.preventDefault()
                document.getElementById('error_msg').innerHTML="Price min needs to be lower than Price max"
                document.getElementById('error_msg_box').style.display = "flex"
            }
        })
        
        

 </script>