{% load static %}

<script>
    function error_msg_close(){
        get_el('error_msg_box').style.display = "none"
    }
</script>


<div id="menu_filter_screen">
    <div id="menu_filter_onclick" 
    onclick="
        show_hide_anim({menu_filter_screen:'fade_out98',
                        menu_filter:'moving_out'});
    "
    ></div>

    <img src="{% static 'imgs/close_btn.svg' %}" class="filter_close_btn"
    onclick="
        show_hide_anim({menu_filter_screen:'fade_out98',
                        menu_filter:'moving_out'});
    ">

    <form action="/filter" id="menu_filter" onclick="error_msg_close()">
        
    
        <label for="filter_for"> Filter for: </label>
    
            <select name="filter_for">
                <option value="better ratings" selected="selected"> 
                    Better ratings 
                </option>
    
                <option value="lower price">
                    Lower price 
                </option>
    
                <option value="higher price">
                    Higher price 
                </option>
               
            </select>
            
        <label for="brand"> Brand: </label>
    
            <select name="brand">
                <option value="all" selected="selected">All</option>
                {% for brand in brand_list %}
                <option value="{{brand}}">{{brand}}</option>
                {% endfor %}
            </select>
    
        <label for="minimum_price">Price min</label>
            <input type="number" name="minimum_price">
        
        <label for="maximum_price">Price max</label>
            <input type="number" name="maximum_price">  
    
            <!---Hidden data-->
        <input type="hidden" name="query" value="{{query}}">
        <input type="hidden" name="query_only" value="">
        <!-------------->
    
        <input type="submit" value="Filter" id="submit_btn">
    
    
        <div id="error_msg_box"> 
            <div id="error_msg"></div> 
            <img src="{% static 'imgs/close_btn.svg' %}" class="filter_close_btn">
        </div>
    </form>
</div>

<!----Form Validation---->
<script>

        get_el('menu_filter').addEventListener('submit',function(e){
            const h_price = this.elements['maximum_price'].value
            const l_price = this.elements['minimum_price'].value
            if(l_price>h_price){
                e.preventDefault()
                get_el('error_msg').innerHTML="Price min needs to be lower than Price max"
                get_el('error_msg_box').style.display = 'flex'
            }
        })
        
        

 </script>