@font-face{
    src:url('fonts/ShadowsIntoLight-Regular.ttf');
    font-family: ShadowsIntoLight;
}
@font-face{
    src: url('fonts/MuseoModerno-VariableFont_wght.ttf');
    font-family: Museo;
}

body{
    width: 100%;
    font-family: Museo;
    margin:0px;
    padding: 0px;
    font-size: 21px;
}
#fullscreen_control{
    width: 100%;
    background-color: #FFF159;
}

a{
    color: black;
    text-decoration: none;
}