#logo{
    display: flex;
    animation: logo 2s;
    justify-content: center;
    align-items: center;
    grid-area: logo;
}
 #logo img{
    width: 2rem;
}
@keyframes logo{
    0%{
        opacity: 0;
    }
}