header{
    display: grid;
    grid-template-columns: 8.5rem calc(100% - 17rem) 8.5rem;
    grid-template-rows: 2rem 3.5rem 4rem;
    grid-template-areas:    '.     .      .'
                            'logo . header_btns'
                         '. search_btns .';
    width: 100%;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}
header #logo{
    width: 2rem;
    content: url('imgs/logo_white.svg');
    grid-area: logo;
}
header #header_btns{
    width: 2rem;
    grid-area: header_btns;
}

header #header_btns #hamb{
    width: 2rem;
    cursor: pointer;
}