{% extends 'base/base.html' %}

{% load static %}

{% block page %}


<section>
    <div class="container" id="intro">

       <h1>Hi, welcome to the V store, </h1>

       <p>A cellphone shop simulator</p>

   </div>
   <div class="blank_interval"></div>
   <div id="recommendation" class="container">
        <div class="blank_interval"></div>

        {% if query == "" and filters == "" %}
            <h1 id="results_title">Highest Rated</h1>
        {% else %}
            <h1 id="results_title">Results for: "{{query}}" {{filters}}</h1>
        {% endif %}

        <!----recommendations---->
        {% include 'index/recommends.html' %}
        <!----pagination system---->
        {% include 'index/page.html' %}
            
            <h1>Help to find a cellphone</h1>
            <div id="find_a_cell"]
            onclick="
            final_state('menu_filter_screen')
            final_state('menu_filter')
             "
            >find with filters</div>
            <div class="blank_interval"></div>
   </div>
</section> 

{% block filter_script %}

{% endblock %}



{% endblock %}




