{% load static %}

<script>
    function limiting_name(id){
        const el = get_el(id)
        let name = el.innerHTML
        name = name.slice(0,60) +"..."
        el.innerHTML = name
    }
</script>

<div class="product_container">
    {% for title,price,image,url in products %}
        <div class="product">
            <img src="{% static image %}" id="{{image}}">
            <a href="{{url}}">
                <div class="name" id="{{image}}_name">{{title}}</div>
                <div class="price" id="{{image}}_price">${{price}}</div>
            </a>
        </div>
    <script>
        limiting_name("{{image}}_name")
    </script>
    {% endfor %}
</div>